ion-checkbox {
    --checkmark-color: var(--ion-color-success-contrast);
    --checkmark-width: 4px;
    --background-checked: var(--ion-color-success);
    --border-color-checked: var(--ion-color-success);
    --border-color: var(--ion-color-success);
    --border-radius: 10px;
    --size: 28px;
  }