<!-- <ion-header>
  <ion-toolbar>
    <ion-title>alert</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

</ion-content> -->
<ion-header>
  <ion-toolbar>
    <ion-title>Alert - Basic</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-button id="basic" expand="block" (click)="presentAlert()">Alert</ion-button>
  <ion-button id="longMessage" expand="block" (click)="presentAlertLongMessage()">Alert Long Message</ion-button>
  <ion-button id="multipleButtons" expand="block" (click)="presentAlertMultipleButtons()"
    >Multiple Buttons (>2)</ion-button
  >
  <ion-button id="noMessage" expand="block" (click)="presentAlertNoMessage()">Alert No Message</ion-button>
  <ion-button id="confirm" expand="block" (click)="presentAlertConfirm()">Confirm</ion-button>
  <ion-button id="prompt" expand="block" (click)="presentAlertPrompt()">Prompt</ion-button>
  <ion-button id="radio" expand="block" (click)="presentAlertRadio()">Radio</ion-button>
  <ion-button id="checkbox" expand="block" (click)="presentAlertCheckbox()">Checkbox</ion-button>
  <ion-button expand="block" (click)="presentWithCssClass()">CssClass</ion-button>
</ion-content>



