.my-custom-class {
    --width: 200px;
    --height: 50%;

    --background: #c61b1b;
    --background-rgb: 39, 39, 39;
    --border-width: 2px;
    --border-color: #000000;
    --border-radius: 16px 16px 0 0;

    color: #d6d6d6;
  }

  // .picker-button.sc-ion-picker-md.test{
  //   background: forestgreen;
  // }