<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <strong>CLick on a component to copy and use now!</strong>
    <p>Start with Ionic <a target="_blank" rel="noopener noreferrer" href="https://ionicframework.com/docs/components">UI Components</a></p>
  </div>


  <ion-item color="favorite" lines="none" button>
    <ion-icon name="exit" slot="start"></ion-icon>
    <ion-label>Test Favorite Color</ion-label>

  </ion-item>
  <ion-list>
    <ion-list-header> Navigate </ion-list-header>
    <!-- <ion-menu-toggle auto-hide="false"> -->
      <!-- <ion-menu-toggle> -->
      <!-- <ion-item lines="none" routerLink="/profile"> -->
        <ion-item button lines="none" routerLink="/home">
          <ion-icon name="home" slot="start"></ion-icon>
          <ion-label>Home</ion-label>
        </ion-item>
      <ion-item button lines="none" routerLink="/accordian">
        <ion-icon name="business" slot="start"></ion-icon>
        <ion-label>Accordians</ion-label>
      </ion-item>
      <!-- </ion-menu-toggle> -->
      <!-- <ion-menu-toggle> -->
        <ion-item lines="none" routerLink="/action-sheet">
          <ion-icon name="checkbox-outline" slot="start"></ion-icon>
          <ion-label>Action-Sheet</ion-label>
        </ion-item>
  
      <ion-item lines="none" routerLink="/avatar">
        <ion-icon name="checkbox-outline" slot="start"></ion-icon>
        <ion-label>Avatars</ion-label>
      </ion-item>
        <ion-item lines="none" routerLink="/alert">
        <ion-icon name="checkbox-outline" slot="start"></ion-icon>
        <ion-label>Alerts</ion-label>
      </ion-item>
      
      <ion-item lines="none" routerLink="/badge">
        <ion-icon name="checkbox-outline" slot="start"></ion-icon>
        <ion-label>Badges</ion-label>
      </ion-item>

      <ion-item lines="none" routerLink="/card">
        <ion-icon name="checkbox-outline" slot="start"></ion-icon>
        <ion-label>Cards</ion-label>
      </ion-item>

      <ion-item lines="none" routerLink="/checkbox">
        <ion-icon name="checkbox-outline" slot="start"></ion-icon>
        <ion-label>Checkbox</ion-label>
      </ion-item>

      <ion-item lines="none" routerLink="/button">
        <ion-icon name="checkbox-outline" slot="start"></ion-icon>
        <ion-label>Button</ion-label>
      </ion-item>


      <ion-item lines="none" routerLink="/picker">
        <ion-icon name="checkbox-outline" slot="start"></ion-icon>
        <ion-label>Picker</ion-label>
      </ion-item>

      <ion-item lines="none" routerLink="/grid">
        <ion-icon name="checkbox-outline" slot="start"></ion-icon>
        <ion-label>Grid</ion-label>
      </ion-item>
      <ion-item lines="none" routerLink="/date-time">
        <ion-icon name="checkbox-outline" slot="start"></ion-icon>
        <ion-label>DATE TIME</ion-label>
      </ion-item>

      <ion-item lines="none" routerLink="/all-scss">
        <ion-icon name="checkbox-outline" slot="start"></ion-icon>
        <ion-label>all-SCSS</ion-label>
      </ion-item>
      <!-- <ion-item lines="none" routerLink="/action-sheet">
        <ion-icon name="checkbox-outline" slot="start"></ion-icon>
        <ion-label>Action-Sheet</ion-label>
      </ion-item>
      <ion-item lines="none" routerLink="/action-sheet">
        <ion-icon name="checkbox-outline" slot="start"></ion-icon>
        <ion-label>Action-Sheet</ion-label>
      </ion-item>
      <ion-item lines="none" routerLink="/action-sheet">
        <ion-icon name="checkbox-outline" slot="start"></ion-icon>
        <ion-label>Action-Sheet</ion-label>
      </ion-item> -->


      <!-- </ion-menu-toggle> -->
      <!-- <ion-menu-toggle> -->
      <ion-item lines="none" (click)="onLogout()" button>
        <ion-icon name="exit" slot="start"></ion-icon>
        <ion-label>Logout</ion-label>

      </ion-item>

        <ion-item>
          <strong>App Name: &nbsp; &nbsp;</strong>
          <ion-text color="dark">
            <p>FRC-devapp</p>
          </ion-text><br>
        </ion-item>
            <!-- <ion-item>
           <strong>Pacakge name:</strong> {{ ionPackageName }} <br>
           </ion-item> -->
        <ion-item>
          <strong>Version number: &nbsp; &nbsp;</strong>
          <div *ngIf="versionNumber">
            <ion-text color="dark">
              <p>{{versionNumber}}</p>
            </ion-text>
          </div> <br>
        </ion-item>
        <!-- <ion-item>
         <strong>Version code:</strong> {{ ionVersionCode }}
          </ion-item>
        <ion-item>

           </ion-item> -->

        <!-- <ion-item>     
           <p>App Version</p>
          </ion-item> -->
        <!-- </div> -->
    <!-- </ion-menu-toggle> -->
  </ion-list>
  <ion-button >

  </ion-button>
</ion-content>




